:root {
    --primary-color: #96AC9E;
    --heading: 'Oswald';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFF;
}

body {
    background-color: #121212; /* Recommended MaterialUI dark theme color*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}