* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: #FFF;
}

body {
    background-color: #110F0F;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}