:root {
    --primary-color: #eecaac;
    --secondary-color: #1f1916;
    --heading: 'Oswald';
    --html: #E44D26;
    --css: #264de4;
    --js: #F7DF1E;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../public/fonts/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../public/fonts/Oswald.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../public/fonts/JetBrainsMono.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F5F5FA;
    font-family: 'Inter', 'Verdana', Arial, sans-serif;
    font-weight: 500;
}

body {
    background-image: linear-gradient(45deg, #322626, #6f4836);
    background-attachment: fixed;
}

input, button, select {
    border: 0;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}