main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: clamp(32px, 10vw, 64px);
    text-align: center;
}

h3 {
    font-size: clamp(16px, 5vw, 26px);
    color: #BABABA;
    text-align: center;
}

a {
    text-align: center;
    width: 200px;
    padding: 20px 0;
    background-image: linear-gradient(to right, #9D0B0B 0%, #460000  100%);
    border-radius: 10px;
    font-size: 20px;
    transition: .5s;
}

a:hover{
    box-shadow: 0 0 15px rgba(167, 16, 16, 0.685); /* Add a glowing effect with box shadow */
}