body {
    padding: 20px 10px;
    min-height: 100svh;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

h1 {
    font: clamp(40px, 15vw, 70px) 'OpenSans';
    color: #ffba5c;
}

h1 + img {
    width: clamp(30px, 12vw, 60px);
    /* width: 55px; */
}

.socials {
    height: 35px;
    margin: 0 10px 20px;
}

h2 {
    font: clamp(28px, 5vw, 32px) var(--heading);
    max-width: 35ch;
    margin: 20px auto;
}

#cards {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.card {
    background-color: var(--secondary-color);
    display: grid;
    place-items: center;
    width: clamp(120px, 20vw, 140px);
    aspect-ratio: 1;
    border-radius: 10px;
    transition: scale 600ms;
    animation: appear 1s ease calc(500ms + 100ms * var(--index)) forwards;
    opacity: 0;
    position: relative;
    box-shadow: rgba(43, 43, 43, 0.15) 0px 5px 15px 0px;
}

.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.15),
            transparent 40%);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms;
}

.card:hover {
    border: 2px solid var(--border-color);
    scale: 1.1;
}

.card:hover::before {
    opacity: 1;
}

.card > img {
    height: 70px;
}

@keyframes appear {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .socials {
        position: absolute;
        top: 20px;
        margin: 0;
        right: var(--right);
    }
}