h1 {
    font-size: 64px;
    margin-top: 80px;
    text-align: center;
}

h3 {
    margin-top: 40px;
    font-size: 32px;
    color: #BABABA;
    margin-bottom: 90px;
    text-align: center;
}

main {
    text-align: center;
}

a {
    padding: 20px 45px;
    background-image: linear-gradient(to right, #9D0B0B 0%, #460000  100%);
    border-radius: 10px;
    font-size: 20px;
    transition: .5s;
}

a:hover{
    box-shadow: 0 0 15px rgba(167, 16, 16, 0.685); /* Add a glowing effect with box shadow */
}