kbd {
    all: initial;
    background-color: #ececec;
    border-radius: 4px;
    padding: 2px;
}

optgroup {
    font-style: normal;
}

meter,
input[type="range"] {
    width: 100px;
    padding: 0;
}

section :where(input:not([type="range"]), select) {
    background-color: #534642;
    border-radius: 5px;
    padding: 10px 5px;
    outline: none;
}

dialog {
    background-color: #443127;
    padding: 1em;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: 300ms ease-out;
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog[open] {
    visibility: visible;
    opacity: 1;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    margin-top: 20px;
    background-color: #8c3d39;
}