pre {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    max-width: 90vw;
    overflow-x: auto;
}

code {
    color: #d6d6d6;
    font-weight: 500;
    font-family: 'JetBrainsMono';
}

code .red {
    color: #f50419
}

code .orange {
    color: #f57900
}

code .yellow {
    color: #f5e600
}

code .green {
    color: #00f50c
}

code .blue {
    color: #0081f5
}

code .indigo {
    color: #5000f5
}

code .violet {
    color: #9000f5
}

code .animate {
    color: #fff !important
}

pre .comment {
    color: #747474
}

pre .keyword,
pre .selector {
    color: #ff5c72
}

pre .storage,
pre .support {
    color: #43a6ff
}

pre .string {
    color: #ffd900
}

pre .constant {
    color: #a074c4
}

pre .entity {
    color: #c66
}

pre .inherited-class,
pre .storage {
    font-style: normal
}

[data-language="custom"] .comment,
.lang-custom .comment,
.language-custom .comment {
    color: #314CAD
}

[data-language="custom"] .integer,
.lang-custom .integer,
.language-custom .integer {
    color: #f5e600
}

[data-language="custom"] .keyword,
.lang-custom .keyword,
.language-custom .keyword {
    color: #f57900
}

[data-language="html"] .attribute,
pre .operator,
.lang-html .attribute,
.language-html .attribute {
    color: #fc4959
}

.function {
    color: #539c41
}

.support.attribute {
    color: #488520
}

pre .entity.function,
pre .selector {
    color: #a074c4
}

pre .variable.global,
pre .variable.class,
pre .variable.instance {
    color: #c66
}

pre .support.css-property {
    color: #43a6ff;
}

.support.tag {
    color: #619fd6;
}

.keyword.unit {
    color: #dd473d;
}