header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px 0;
}

header a {
    font-size: 24px;
    transition: .3s;
    position: relative;
    color: #DCDCDC;
}

header nav {
    display: flex;
    gap: 50px;
}

.link:hover {
    color: var(--color);
}

.link::after {
    content: '';
    background-color: var(--color);
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transition: transform 0.3s;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

main {
    display: flex;
    padding-top: 30px;
    color: #FFF;
}

main nav {
    background-color: #292727;
    width: 200px;
    padding: 20px;
    height: calc(100vh - 30px - 30px - 70px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 0 10px 0 0;
}

main nav a {
    font-size: 20px;
    transition: .3s;
}

main nav a:hover {
    color: #BABABA;
}

main article {
    height: calc(100vh - 30px - 30px - 70px);
    padding: 0 50px 50px;
    overflow: auto;
    width: calc(100vw - 200px);
    line-height: 1.5;
    scroll-behavior: smooth;
}

article h2:not(:first-of-type) {
    margin-top: 60px;
}

article p {
    margin-top: 40px;
    color: #969696;
}

#return {
    background-color: #EDC32E;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    text-align: center;
    transition: .3s;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#return:hover {
    filter: brightness(60%);
}