pre {
    background-color: #181818;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    max-width: 90vw;
    overflow-x: scroll;
    scrollbar-color: transparent;
}

pre code, pre code span {
    font-family: 'Verdana', sans-serif;
}

pre .comment {
    color: #969896
}

pre .variable.global,
pre .variable.class,
pre .variable.instance {
    color: #c66
}

pre .constant.numeric,
pre .constant.language,
pre .constant.hex-color,
pre .keyword.unit {
    color: #a7363a
}

pre .constant,
pre .entity,
pre .entity.class,
pre .support {
    color: #55b5db
}

pre .constant.symbol,
pre .string {
    color: #b8753e
}

.support.attribute {
    color: #b5bd68
}

pre .entity.function,
pre .support.css-property,
pre .selector {
    color: #a074c4
}

pre .keyword,
pre .storage {
    color: #b294bb
}