pre {
    background-color: #121212;
    padding: 15px 40px;
    width: fit-content;
    /* border-radius: 0 0 10px 10px; */
    border-radius: 5px;
    margin-right: 15px;
}

pre .comment {
    color: #5F5A60
}

pre .constant.numeric {
    color: #a7363a;
}

pre .constant {
    color: #889AB4;
}

pre .constant.symbol,
pre .constant.language {
    color: #D87D50;
}

pre .storage {
    color: #F9EE98;
}

pre .string {
    color: #8F9D6A;
}

pre .string.regexp {
    color: #E9C062;
}

pre .keyword,
pre .selector,
pre .storage {
    color: #CDA869
}

pre .inherited-class {
    color: #9B5C2E
}

pre .entity {
    color: #FF6400
}

pre .support {
    color: #9B859D
}

pre .support.magic {
    color: #DAD69A
}

pre .variable {
    color: #7587A6
}

pre .function,
pre .entity.class {
    color: #9B703F
}

pre .support.class-name,
pre .support.type {
    color: #AB99AC
}